# .gitignore

# OS & Editor
**/.DS_Store
.vscode/
.idea/
*.swp

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
ml_pipeline/.venv/

# ⚠️ THE BIG ONES: Datasets & Audio
ml_pipeline/ESC-50-master/
ml_pipeline/FSD50K/
ml_pipeline/LibriSpeech/
ml_pipeline/data/
*.wav
*.mp3
*.flac
*.asd

# ML Models & Logs
*.pt
*.pth
*.onnx
*.onnx.data
ml_pipeline/models/
ml_pipeline/plot_dataset_energy.py
ml_pipeline/yt_to_audio.py
ml_pipeline/render_final_video.py

# C++ / JUCE Plugin
plugin/build/
build/
builds/

# Compiled Binaries
*.vst3
*.component
*.dll
*.so
*.a

# ONNX Runtime (Ignore the folder, but keep the specific dylib if you rely on it locally)
plugin/onnxruntime/lib/*
!plugin/onnxruntime/lib/libonnxruntime.dylib
!plugin/onnxruntime/lib/libonnxruntime.1.24.2.dylib

# Generated Media & Plots
videos/
*.mp4
!images/LogMel_Plugin_Demo1.mp4
*.mov
temp_*
*.m4a
